{% extends 'church/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}">
{% endblock %}
{% block content %}
    <section data-aos="fade-up" class="myHeading" style="overflow:hidden;">
        <div class="container">
            <div class="row">
                <div class="col pt-4">
                    <div class="headers alt-headers pt-5">
                        <h1 style="color: #fff;" class="pt-5">About
                            <span style="color: #fff;"><a style="color: #fff;" href="{% url 'home' %}">Home</a> / About us</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section  class="pt-5 pb-5" style="overflow:hidden;">
        <div class="container">
            <div class="row" data-aos="fade-down">
                <div class="col-lg-6 col-md-6 col-sm-12 pb-5">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'church/images/Church-logo.png' %}" height="350px" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div>
                        <h5 style="color: #B31312;">About Us</h5>
                        <h2 style="font-family: Merimeter;">WELCOME TO CENTRAL CHARIS CHAPEL WORLDWIDE.</h2>
                        <p>Central Charis Chapel Worldwide is a body of Christ and recognizing that the eternal salvation of all comes from
                            faith and adherence to the true teachings of
                            Jesus Christ and accepting that these teachings of salvation are borne out of Scripture and in particular the
                            Gospels</p>
                        <p><span style="font-weight: 700;">Mission:</span> To preach the Gospel full of Christ to mankind for the attainment of salvation through evangelism.</p>
                        <p><span style="font-weight: 700;">Vision:</span> To build the biggest Holy Ghost Filled Church in Ghana and in the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-left" class="pt-5 pb-5">
        <div class="two alt-two">
            <h1>Our Pastors
                <span>Get to know our team</span>
            </h1>
        </div>
        <div class="container">
            <div class="row team-row pt-5">
                <div class="col-md-3 col-sm-6 team-wrap pb-4">
                    <div class="team-member text-center">
                        <div class="team-img">
                            <img src="http://deothemes.com/envato/enigma/html/img/team_1.jpg" alt="">
                            <div class="overlay">
                                <div class="team-details text-center">
                                    <div class="socials mt-20">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="team-title">John Marshall</h6>
                        <span>Designer</span>
                    </div>
                </div>
                <!-- end team member -->
        
                <div class="col-md-3 col-sm-6 team-wrap pb-4">
                    <div class="team-member text-center">
                        <div class="team-img">
                            <img src="{% static 'church/images/snr_Rev.jpg' %}" alt="">
                            <div class="overlay">
                                <div class="team-details text-center">
                                    <div class="socials mt-20">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="team-title">Snr Rev Ohene Kwapong</h6>
                        <span>National Chairperson</span>
                    </div>
                </div>
                <!-- end team member -->
        
                <div class="col-md-3 col-sm-6 team-wrap pb-4">
                    <div class="team-member last text-center">
                        <div class="team-img">
                            <img src="{% static 'church/images/snr.jpeg' %}" alt="">
                            <div class="overlay">
                                <div class="team-details text-center">
                                    <div class="socials mt-20">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="team-title">Rev Micheal Baah Nkansah</h6>
                        <span>Missions Director</span>
                    </div>
                </div>
                <!-- end team member -->
                <div class="col-md-3 col-sm-6 team-wrap pb-4">
                    <div class="team-member last text-center">
                        <div class="team-img">
                            <img src="{% static 'church/images/snr.jpeg' %}" alt="">
                            <div class="overlay">
                                <div class="team-details text-center">
                                    <div class="socials mt-20">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="team-title">Rev Micheal Baah Nkansah</h6>
                        <span>Missions Director</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}