{% extends 'church/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}">
{% endblock %}
{% block content %}
<section class="myHeading">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="myTitle text-center">Blogs</h1>
                <h6 class="myTitle2 text-center"><a class="myTitleLink" href="{% url 'home' %}">Home </a>/ Blogs</h6>
            </div>
        </div>
    </div>
</section>
<section class="pt-5" style="background-color: #eee;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'church/images/image1.jpeg' %}" height="300px" alt="">
                    <div class="card-body">
                        <small>12/12/23</small>
                        <h3 class="card-title">Spirit of the Lord is from the new life</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione sequi commodi quaerat hic quo sit rerum nihil amet dolorem, reiciendis autem a soluta id officiis tempore cumque, quibusdam similique.</p>
                        <a class="event-btn" href="{% url 'blog-detail' %}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}