{% extends 'church/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}">
{% endblock %}
{% block content %}
<section class="myHeading">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="myTitle text-center">Blog Details</h1>
                <h6 class="myTitle2 text-center"><a class="myTitleLink" href="{% url 'home' %}">Home </a>/ Blogs Details
                </h6>
            </div>
        </div>
    </div>
</section>
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ myblog.image.url }}" height="600px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ myblog.title }}</h5>
                        <p class="card-text">{{ myblog.content }}</p>
                        <p class="card-text"><small class="text-muted">{{ myblog.date|date:"j F o" }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}