{% extends 'church/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}">
{% endblock %}
{% block content %}
<section data-aos="fade-up" class="myHeading">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="myTitle text-center">Blogs</h1>
                <h6 class="myTitle2 text-center"><a class="myTitleLink" href="{% url 'home' %}">Home </a>/ Blogs</h6>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-up-left" class="pt-5" style="background-color: #eee;">
    <div class="container">
        <div class="row">
            {% for myblog in myblogs %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="{{ myblog.image.url }}" height="300px" alt="">
                    <div class="card-body">
                        <small>{{ myblog.date|date:"j F o" }}</small>
                        <h3 class="card-title">{{ myblog.title }}</h3>
                        <a class="event-btn" href="{% url 'blog-view' myblog.slug %}">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}