{% extends 'church/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}">
{% endblock %}
{% block content %}
<section data-aos="fade-up" class="myHeading">
    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <div class="headers alt-headers pt-5">
                    <h1 style="color: #fff;" class="pt-5">Events Details
                        <span style="color: #fff;"><a style="color: #fff;" href="{% url 'home' %}">Home</a> / Event Details</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-left" class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-3" style="border: none;">
                    <img class="card-img-top" src="{{ myevent.image.url }}" height="600px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ myevent.title }}</h5>
                        <p class="card-text">{{ myevent.content }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-4">
                <div class="card">
                    <div class="card-header" style="background-color: #090580;">
                        <h4 style="color: #fff;" class="text-center">Event Details</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Organizer: {{ myevent.organizer }}</li>
                        <li class="list-group-item">Start Date: {{ myevent.start_date }}</li>
                        <li class="list-group-item">End Date: {{ myevent.end_date }}</li>
                        <li class="list-group-item">Time: {{ myevent.time|date:"P" }}</li>
                    </ul>
                    <div class="card-header" style="background-color: #090580;">
                        <h4 style="color: #fff;" class="text-center">Event Venue</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Venue: {{ myevent.venue }}</li>
                        <li class="list-group-item">Address: {{ myevent.address }}</li>
                        <li class="list-group-item">Email: {{ myevent.email }}</li>
                        <li class="list-group-item">Phone: {{ myevent.phone }} </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}