{% extends 'church/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}">
{% endblock %}
{% block content %}
<section data-aos="fade-up" class="myHeading">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="myTitle text-center">Events</h1>
                <h6 class="myTitle2 text-center"><a class="myTitleLink" href="{% url 'home' %}">Home </a>/ Events</h6>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-left" class="pt-5 event-section pb-3" style="overflow:hidden;">
    <div class="container">
        <div class="row pt-4">
            {% for event in myevents %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                <div class="card myCard d-flex justify-content-center">
                    <img src="{{ event.image.url }}" width="100%" height="300px" alt="">
                    <div class="card-body">
                        <p class="card-text">{{ event.time|date:"d F, Y" }}</p>
                        <h3 class="card-title">{{ event.title }}</h3>
                        <a class="event-btn" href="{% url 'event-view' event.slug %}">View Event</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}