{% extends 'church/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}">
{% endblock %}
{% block content %}
<section data-aos="fade-up" class="myHeading">
    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <div class="headers alt-headers pt-5">
                    <h1 style="color: #fff;" class="pt-5">Gallery
                        <span style="color: #fff;"><a style="color: #fff;" href="{% url 'home' %}">Home</a> / Gallery</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-down" class="pt-4 pb-4" style="background-color: #c3c2db;">
    <div class="container">
        <div class="row">
            {% for gallery in galleries %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-2 text-center">
                <a href="{{ gallery.image.url }}" data-lightbox="modals" data-title="Hello">
                    <img src="{{ gallery.image.url }}" height="200px" width="100%" alt="">
                </a>
                <h4 class="mt-2"></h4>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}