{% extends 'church/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}">
{% endblock %}
{% block content %}
<section class="myHeading">
    <div class="container">
        <div class="row">
            {% if ministry %}
            <div class="col">
                <h1 class="myTitle text-center">{{ ministry }}</h1>
                <h6 class="myTitle2 text-center"><a class="myTitleLink" href="{% url 'home' %}">Home </a>/ {{ ministry }}</h6>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section class="pt-4 pb-4" data-aos="slide-right">
    <div class="container">
        <div class="row">
            {% for ministry in ministries %}
            <div class="col-md-8">
                <div class="card mb-4" style="border: none;">
                    <img class="card-img-top" src="{{ ministry.image.url }}" height="500px" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ ministry.title }}</h5>
                        <p class="card-text">{{ ministry.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <h3 class="pl-4 pt-3">Latest Posts</h3>
                    {% for post in posts %}
                        <div class="footer pb-3 p-3">
                            <div class="footer-img">
                                <img style="float:left;"  src="{{ post.image.url }}" height="40px" width="40px" alt="">
                            </div>
                            <div class="footer-text">
                                <a class="footer-link" href="{% url 'post-detail' post.slug %}" style="font-size: 15px;">{{ post.title }}</a>
                                <br>
                                <small class="text-muted">{{ post.date|date:"j F o" }}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}