{% extends 'church/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}">
{% endblock %}
{% block content %}
<section data-aos="fade-up" class="myHeading">
    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <div class="headers alt-headers pt-5">
                    <h1 style="color: #fff;" class="pt-5">Our Pastors
                        <span style="color: #fff;"><a style="color: #fff;" href="{% url 'home' %}">Home</a> / Our Pastors</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-left" class="pt-5 pb-5">
    <div class="container">
        <div class="row team-row pt-5">
            {% for pastor in pastors %}
            <div class="col-md-3 col-sm-6 team-wrap pb-4">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="{{ pastor.image.url }}" alt="">
                        <div class="overlay">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">{{ pastor.name }}</h6>
                    <span>{{ pastor.position }}</span>
                </div>
            </div>
            {% endfor %}
            <!-- end team member -->

            <div class="col-md-3 col-sm-6 team-wrap pb-4">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="{% static 'church/images/snr_Rev.jpg' %}" alt="">
                        <div class="overlay">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Snr Rev Ohene Kwapong</h6>
                    <span>National Chairperson</span>
                </div>
            </div>
            <!-- end team member -->

            <div class="col-md-3 col-sm-6 team-wrap pb-4">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img src="{% static 'church/images/snr.jpeg' %}" alt="">
                        <div class="overlay">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Rev Micheal Baah Nkansah</h6>
                    <span>Missions Director</span>
                </div>
            </div>
            <!-- end team member -->
            <div class="col-md-3 col-sm-6 team-wrap pb-4">
                <div class="team-member last text-center">
                    <div class="team-img">
                        <img src="{% static 'church/images/snr.jpeg' %}" alt="">
                        <div class="overlay">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="team-title">Rev Micheal Baah Nkansah</h6>
                    <span>Missions Director</span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}