{% extends 'church/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'church/style.css' %}">
{% endblock %}
{% block content %}
<section data-aos="fade-up" class="myHeading">
    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <div class="headers alt-headers pt-5">
                    <h1 style="color: #fff;" class="pt-5">Post Details
                        <span style="color: #fff;"><a style="color: #fff;" href="{% url 'home' %}">Home</a> / Post Details</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-left" class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ post.image.url }}" height="600px" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.content }}</p>
                        <p class="card-text"><small class="text-muted">{{ post.date|date:"j F o" }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}