 /*------------Navbar dropdown start------------*/
 .dropbtn {
    color: white;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }

  .dropdown-content a:hover {
    background-color: #eee;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
 /*------------Navbar dropdown end------------*/
/* === BASE HEADING === */ 


h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

/* === HEADING STYLE #2 === */
.two h1 {
  text-transform: capitalize;
}
.two h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #c50000;
}

.two h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}
.alt-two h1 {
  text-align:center;
}
.alt-two h1:before {
  left:50%; margin-left:-30px;
}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

/* === HEADING STYLE #2 === */
.headers h1 {
  text-transform: capitalize;
}

.headers h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}
.alt-headers h1 {
  text-align:center;
}
.alt-headers h1:before {
  left:50%; margin-left:-30px;
}

/*----------Title End-----------------*/

/*------------Event start-------------- */
.time {
        height: 100%;
        width: 120px;
        color: #fff;
        background-color: #090580;
        text-align: center;
    }

    .events {
        display: flex;
        box-shadow: 5px 10px #eee;
        height: 100%;
    }
  .details {
          padding-left: 40px;
          width: 100%;
      }

    .event-btn {
        color: #090580;
    }

    .event-btn:hover {
        color: #080808;
    }

/*----------Event end--------------*/

.btn {
    border-radius: 10px;
}
.btn:hover {
    background: #090580;
}

html {
  scroll-behavior: smooth;
}

#up {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #090580;
  color: #fff;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5px 1px 5px 5px rgba(0, 0, 0, 0.5);
  transition: var(--transition-speed);
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
}

#up:hover {
  background-color: #2c298a;
}

/*-------------Counter Start--------------*/
 /* .counter-img {
    background-image: url("{% static 'church/images/image3.jpeg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }

  .counter-img::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.7; */
  /* } */

  .column {
    float: left;
    width: 25%;
    padding: 0 5px;
  }

  .about-row {
    margin: 0 -5px;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }

  .card-img {
    color: white;
    padding: 16px;
    text-align: center;
    position: relative;
  }
    /* Mobile Responsive */

   @media (min-width: 576px) {
    .entertain-containerr {
      max-width: 540px;
    }

    .column2 {
      max-width: 50%;
    }
  }

  @media (min-width: 768px) {
    .entertain-container {
      max-width: 720px;
    }

    .column2 {
      max-width: 33.333333%;
    }
  }

  @media (min-width: 992px) {
    .entertain-container {
      max-width: 960px;
    }

    .column2 {
      max-width: 30%;
    }
  }

  @media (min-width: 1200px) {
    .entertain-container {
      max-width: 1140px;
    }

  }

  /*-------------Counter End--------------*/


.myCard {
    height: 100%;
    border: none;
    box-shadow: 5px 5px #eee;
}
/*------------carousel start--------------*/
.carousel-item {
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

.carousel-caption {
  text-align: center;
  justify-content: center;
}

.carousel-caption .h1 {
  display: inline-block;
  font-weight: 700;
  text-align: center;
}

.carousel-caption p {
  font-size: 18px;
  text-align: center;
}

/*------------carousel start end--------------*/

    /* Our Team
-------------------------------------------------------*/

.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.our-team .team-wrap {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.team-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
}

.team-title {
  margin: 30px 0 7px;
}

.overlay {
  background-color: rgba(20,20,20,.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details p {
  color: #fff;
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials i {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials i {
	color: #fff;
}

.socials a:hover i {
  color: #fff;
  background-color: #355c7d;
}

/*-------------Footer start--------------*/

  .footer {
    display: flex;
  }

  .footer-img {
    max-width: 100%;
    max-height: 100%;
  }

  .footer-text {
    padding-left: 10px;
  }

  .footer-link {
    color: #000;
  }

  .footer-link:hover {
    color: #000;
    text-decoration: none;
  }

  .footer-list {
    list-style-type: circle;
    color: #000;
    font-size: 20px;
    line-height: 2rem;
  }

  .footer-links {
    position: relative;
    color: #000;
  }

  .footer-links:hover {
    text-decoration: none;
    color: #000;
  }

  .useful-links {
    color: #000;
    padding-left: 10px;
  }
  .useful-links:hover {
    text-decoration: none;
    color: #000;
  }
  .useful-icons {
    color: #090580;
  }

.icon-bar a {
  margin: 10px;
  transition: all 0.3s ease;
  color: #000;
  font-size: 15px;
}

.facebook {
  color: #000;
}

.twitter {
  color: #000;
}

.google {
  color: #000;
}

.linkedin {
  color: #000;
}

.youtube {
  color: #000;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

  /*-------------Footer End--------------*/

  /*-----------contact start------------*/
/*
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  padding-top: 50px;
  background: linear-gradient(to left, #090580, #171391);
  color: #fff;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  padding-top: 50px;
  background: linear-gradient(to right, #fff, #eee);
  color: #000;
  transform: rotateY(180deg);
  z-index: 1;
  justify-content: center;
  align-items: center;
}*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #090580;
  color: #fff;
}

.flip-card-back {
  background-color: #eee;
  color: #000;
  transform: rotateY(180deg);
}
.h3 {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #fff;
}

/*-----------contact end------------*/